body{
    width: 100%;
    background-color: #E5E5E5;
}
/*@media (min-device-width: 614px) {
    .imagem_mobile { 
        display: none;
    }
    .barra_inferior_mobile{
        display: none;
    }
 }*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
  }
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover .p{
    text-decoration: none;
    border-bottom: 2px solid rgb(45, 180, 224);
}
/*a:hover .conteudo{
    text-decoration: none;
    border-bottom: 2px solid rgb(45, 180, 224) max-width: 935px;
}*/
.container{
    /*background-color: #FAFAFA;*/
    background-color: #E5E5E5;
    width: 100vw;  
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topo{
    background-color: #FFFFFF;
    height: 54px;
    width: 1366px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.topo_conjunto{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: black;*/
    width: 936px;
    height: 54px;
}
.topo_esquerda{ /*apagar*/
    /*background-color: darkblue;*/
    display: flex;
    align-items: center;
}
.topo_esquerda ion-icon{
    padding-right: 10px;
    /*background-color: saddlebrown;*/
}
.topo_esquerda .linha_vertical{
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;
}
.topo_esquerda img{
    padding-left: 10px;
    /*background-color: saddlebrown;*/
}
.topo_meio input{ 
    width: 215px;
    height: 28px;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
}
.topo_direita{ /*apagar*/
    /*background-color: darkmagenta;*/
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.topo_itens_direita{
    /*background-color: royalblue;*/
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.icones{
    /*background-color: coral; /*apagar*/
    background-color:#FFFFFF;
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px;
    width: 614px;
    height: 118px;
    margin: 34px auto;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    position: relative;
}
.stories_planodefundo{
    width: 56px;
    height: 56px;
    margin-top: 23px;
    margin-left: 20.5px;
}
.stories{
    position: absolute;
    height: 48px;
    top: 27px;
    z-index: 1;
} /*
.icones a:hover {
   border-radius: 28px solid rgb(45, 180, 224);*/
    /*box-shadow: 0 0 10em rgb(45, 180, 224);*/
    /*border-width: 0 2px 0 2px rgb(45, 180, 224);
    border-radius: 20em;*/
    /*top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    background: rgb(45, 180, 224);
    z-index: 4;
    /*transform: scale(1.1);
    box-shadow: 0 0 5px rgb(45, 180, 224);
}*/
.stories_1{   
    left: 24.5px; 
}
.stories_2{
    left: 105px;
}
.stories_3{
    left: 185.5px;
}
.stories_4{
    left: 266px;
}
.stories_5{
    left: 346.5px;
}
.stories_6{
    left: 427px;
}
.stories_7{
    left: 507.5px;
}
.stories_8{
    left: 587px;
}
.icones_botao{
    position: absolute;
    top: 46px;
    left: 585px;
    height: 26px;
    width: 26px;
    box-shadow: 0 0 0.5em gray;
    border-radius: 2em;
    z-index: 2;
}
.icones_texto p{
    /*background-color: lightcyan;*/
    display: inline-block;
    text-overflow: hidden;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: black;
}
.p1{
    margin-left: 36px;
}
.p2{
    margin-left: 41px;
}
.p3{
    margin-left: 34px;
}
.p4{
    margin-left: 25px;
}
.p5{
    margin-left: 2px;
}
.p6{
    margin-left: 5px;
}
.p7{
    margin-left: 14px;
}
.p8{
    margin-left: 10px;
}
/*.stories img{
    position: absolute;
}*/
.corpo{
    background-color: #E5E5E5;
    width: 614px;
    height: 1956px;
    margin-top: 54px;
}
.conteudo{
    /*background-color: green;*/
    height: 100wd;
    width: 614px;
}
.imagens{
    /*background-color: green;*/
    height: 612px;
    width: 614px;
}
.imagem{
    width: 614px;
}
.imagem_mobile{
    width: 100%;
}
.post_top{
    width: 614px;
    height: 61px;
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 3px 3px 0 0;
    position: relative;
}
.post_top .post_perfil{
    width: 32px;
    height: 32px;
    position: absolute;
    left: 17px;
    top: 15px;
}
.post_top .post_vetor1{
    left: 588px;
    top:30px;
    position: absolute;
}
.post_top .post_vetor2{
    left: 583px;
    top:30px;
    position: absolute;
}
.post_top .post_vetor3{
    left: 578px;
    top:30px;
    position: absolute;
}
.post_top p{
    font-family: Roboto;
    font-size: 14px;
    font-style:normal;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 0em;
    margin-left: 64px;
    margin-top: 22px;
    color: rgba(38, 38, 38, 1);    
}
.post_bottom{
    margin-top: -3px;
    margin-bottom: 60px;
    width: 614px;
    height: 76px;
    background-color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 0 0 3px 3px;
    position: relative;
}
.post_bottom ion-icon{
    padding-left: 17px;
    padding-top: 12px;
}
.post_bottom .post_curtidas{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top:38px;
}
.post_bottom p{
    margin-left: 40px;
    margin-top: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
}
.post_bottom span{
    font-weight: bold;
}
.post_bottom .icone_direito {
    position: absolute;
    left: 580px;
    top: 15px;
}
.icone_direito {
    width: 12px;
    height: 17px;
}
.sidebar{
    background-color: #E5E5E5; 
    height: calc(100vh - 88px);
    width: 293px;
    margin-left: 29px;
    margin-top: 113px;
}
.sidebar_top{
    margin-left: 70px;
    margin-top: -45px;
}
.sidebar p{
    color:rgba(142, 142, 142, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
}
.sidebar span{
    color: #262626;
    font-weight: bold;
}
.sidebar_conteudo{
    margin-top: 24px;
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
}
.sidebar_direita{
    
    background-color:#E5E5E5;
    width: 50%;
}
.sidebar_seguidores img{
    width: 32px;
    height: 32px;
    margin-top: 17px;
}
.sidebar_seguidores_texto{
    margin-left: 40px;
    margin-top: -34px;
}
.sidebar_esquerda{
    background-color:#E5E5E5;
    width: 50%;
}
.sidebar_esquerda p{
    text-align: right;
}
.sidebar_esquerda .sidebar_esquerda_seguir{
    color: rgba(19, 158, 242, 1);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: right;
    margin-top: 29px;
}
.imagem_topo_centralizar{
    /*background-color: darkorange;*/
    width: 515px;
}
.barra_inferior_mobile{
    background-color: #FFFFFF;
    position: fixed;
    width: 100vw;
    height: 54px;
    margin-top: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.barra_inferior_mobile_icones{
    background-color: darkorange;
    width: 570px;
    height: 54px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}